<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
<!--    <link href="/css/login.css" rel="stylesheet" />-->
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
<div class="content">
    <div class="restaurant-header">Restauracja</div>
    <div class="form-content">
<!--        <p th:if="${loginError}" class="error">wrong user or password</p>-->
        <form method="post" class="login_panel" id="login_form">
<!--            <div th:if="${param.error}">-->
<!--                <div class="alert alert-danger">-->
<!--                    Invalid username or password.-->
<!--                </div>-->
<!--            </div>-->
            <input type="text" name="username" placeholder="jan.kowalski" />
            <input type="password" name="password" placeholder="*******">
            <button class="submit-button">log in</button>
        </form>
    </div>
</div>

<!--<script src="/js/tools.js"></script>-->
<!--<script src="/js/login.js"></script>-->
</body>

</html>