.context-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 70%;
}

.order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 70%;
    flex-wrap: wrap;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 10%;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4a666;
    padding: 1em;
    margin: 1em;
    box-sizing: border-box;
    color: #000000;
    text-align: center;
    font-family: 'Saira SemiCondensed', sans-serif;
    flex-direction: column;
    width: 10%;
}

.order-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #707070;
    border-radius: 33px;
    background-color: #a87d40;
    height: fit-content;
}

.item-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Saira SemiCondensed', sans-serif;
    border: 1px solid #707070;
    border-radius: 33px;
    background-color: #a87d40;
    height: fit-content;
}

.submit-order-button {
    background-color: #d4a666;
    padding: 1em;
    margin: 1em;
    border: solid 0.25rem #5c401a;
    border-radius:0.25rem;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Saira SemiCondensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.total-cost-container {
    background-color: #d4a666;
    padding: 1em;
    margin-top: 1em;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Saira SemiCondensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.cart-container>* {
    flex: 0 0 20%;
    margin: 2%;
}